@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-3">All Users</h1>

<form asp-action="Index" class="mb-3"> 
    <div class="row align-items-center justify-content-center">
        <div class="col-8">
            <input type="text" placeholder="Search By Email" class="form-control" name="SearchValue"/>
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </div>
</form>

@if (Model.Count() > 0)
{
    <table class="table table-striped  table-borderless table-hover">
        <thead>
            <tr class="thead-dark">
                <th>@Html.DisplayNameFor(U => U.Id)</th>
                <th>@Html.DisplayNameFor(U => U.UserName)</th>
                <th>@Html.DisplayNameFor(U => U.Email)</th>
                <th>@Html.DisplayNameFor(U => U.PhoneNumber)</th>
                <th>Details</th>              
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(M=> user.Id)</td>
                    <td>@Html.DisplayFor(M=> user.UserName)</td>
                    <td>@Html.DisplayFor(M=> user.Email)</td>
                    <td>@Html.DisplayFor(M=> user.PhoneNumber)</td>
                    <partial name="_ButtonsPartialView" model="@user.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>There Is No User</h3>
    </div>
}